$black: #2a2e37;
$black-x: #3a3c40;
$black-light: #82868c;
$grey: #e3e6eb;
$grey-x: #858993;
$grey-l: #606b87;
$grey-s: #acacac;
$grey-light-x: #f3f3f5;
$grey-light-l: #adb4c2;
$grey-light-s: #f9f9f9;
$white: #ffffff;
